.main{
  /* border: 2px solid white; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen{
  /* border: 1px solid rgba(255, 255, 255, 0.6); */
  max-width: 360px;
  min-width: 320px;
  height: 90%;
}
.screen img:first-child
{
  width: 100%;
}
.text_Wrapper{
  /* border: 2px solid red; */
  margin-top: 34px;
}
.text_Wrapper h2{
  font-family: Inter;
font-size: 29px;
font-weight: 500;
line-height: 31.9px;
text-align: center;
}
.text_Wrapper p{
  font-family: Inter;
font-size: 19px;
font-weight: 400;
line-height: 22.99px;
text-align: center;
color:rgba(255, 255, 255, 0.6);
margin-top: 16px;
}
.bellWrapper{
  border-radius: 50%;
  width: 95%;
  margin: auto;
  margin-top: 80px;
}
.notification{
  /* border: 2px solid red; */
  margin: auto;
  margin-top: 100px;
  background-image: url("../../public/a.png");
  background-position:center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 344px;
  width: 344px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  /* border: 2px solid white; */
  width: 95%;
  margin: auto;
  display: block;
  height: 42px;
  padding: 8px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(157, 13, 61, 0) -10.64%, #DF522B 51.94%, rgba(199, 125, 44, 0) 116.51%);
  /* border: 1.4px solid; */
  /* border-image-source: linear-gradient(90deg, rgba(157, 13, 61, 0) -13.1%, #DE502C 53.99%, #C6802C 113.76%); */
  border:none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}